In [9]:

# cost (type: float)

import psycopg2

def fetch_cost(sql):
    """ Execute sql and fetch the results """
    sql = "explain (FORMAT JSON) " + sql
    
    conn = psycopg2.connect(database='tpch1x', # tpch1x (0.1m, 10m), tpch100m (100m)
                            user='postgres',
                            password='postgres',
                            host='166.111.121.62',
                            port=5432)
    fail = 0
    cur = conn.cursor()
    try:
        cur.execute(sql)
    except:
        fail = 1
    res = -1
    if fail==0:
        res = cur.fetchall()
        
        conn.commit()
        cur.close()
        conn.close()
        
        res = res[0][0][0]['Plan']['Total Cost']
        return res
    else:
        print("execution fails!!")
        return res

In [13]:
# query rewrite

import json
from pathlib import Path
import os

ppath = Path().absolute()
print(ppath)

# a Python object (dict)
# ["origin query","rewritten query", "rewrite sequence"]
rewrite_set = {}
base_dir = os.path.abspath(os.curdir)


# load queries into [rewrite_set]
'''
qid = 0
with open(os.path.join(base_dir, 'sqlsmith_queries', 'l_3_queries.log'), 'r') as f:

        sql = ""
        for line in f.readlines():
            sql = sql + line
            if ';' in line:
'''
query_dir = os.path.join(base_dir, 'queries', 'input_sql')
for file in sorted(os.listdir(query_dir)):
    if not file.endswith('.sql'):
        continue

    with open(os.path.join(query_dir, file), 'r') as sql_file:
        # sqls = [sql.value for sql in sqlparse.parse(sql_file.read()) if sql.get_type() == 'SELECT']
        # sqls = []
        # for sql in sqls:
        sql = str(sql_file.read())
        origin_cost = fetch_cost(sql)            

        # query rewrite
        para = "--sql \"{}\"".format(sql)
        %run 'main.py' $para

        with open('tmp-result-query','r') as f:
            rewritten_sql = f.read()
        #os.remove("tmp-result-query")

        with open('tmp-result-rewrites','r') as f:
            rewrite_order = f.read()
        #os.remove("tmp-result-rewrites")

        rewritten_cost = fetch_cost(rewritten_sql)            
        rewrite_set.update({str(qid):{
              "origin_query": sql,
              "origin_cost": origin_cost,                
              "rewritten_query": rewritten_sql,
              "rewritten_cost": rewritten_cost,                            
              "rewrite_order": rewrite_order}})
        print("==================================")
        print(file)
        print(str({
              "origin_query": sql,
              "origin_cost": origin_cost,
              "rewritten_query": rewritten_sql,
              "rewritten_cost": rewritten_cost,
              "rewrite_order": rewrite_order}))
        print("==================================")
        sql = ""
        qid = qid + 1
        # if qid >0:
        #     break
                
# print(rewrite_set)

/Users/xuanhe/benchmark/ReWrite/ReWrite-old/part2-rewrite-calcite/LearnedRewrite
planner configured
dialect configured
level 0
Best Child: SELECT "lineitem"."l_orderkey", "orders"."o_orderdate", "orders"."o_shippriority", "lineitem"."l_extendedprice" * (1 - "lineitem"."l_discount") AS "$f3"
FROM "customer",
"orders",
"lineitem"
WHERE "customer"."c_mktsegment" = 'BUILDING' AND "customer"."c_custkey" = "orders"."o_custkey" AND "lineitem"."l_orderkey" = "orders"."o_orderkey" AND "orders"."o_orderdate" < DATE '1995-03-15' AND "lineitem"."l_shipdate" > DATE '1995-03-15' 5748.439999999944 [2, 1, 4]
--------------------------------
final sql:  SELECT "lineitem"."l_orderkey", "orders"."o_orderdate", "orders"."o_shippriority", "lineitem"."l_extendedprice" * (1 - "lineitem"."l_discount") AS "$f3"
FROM "customer",
"orders",
"lineitem"
WHERE "customer"."c_mktsegment" = 'BUILDING' AND "customer"."c_custkey" = "orders"."o_custkey" AND "lineitem"."l_orderkey" = "orders"."o_orderkey" AND "orders"."o_orderdate" < DATE '1995-03-15' AND "lineitem"."l_shipdate" > DATE '1995-03-15'
[2, 1, 4]
after-rewrite cost: 1297731.06
-------
==================================
mysql_03.sql
{'origin_query': "-- using default substitutions\n\n\nselect\n    l_orderkey,\n    sum(l_extendedprice * (1 - l_discount)) as revenue,\n    o_orderdate,\n    o_shippriority\nfrom\n    customer,\n    orders,\n    lineitem\nwhere\n    c_mktsegment = 'BUILDING'\n    and c_custkey = o_custkey\n    and l_orderkey = o_orderkey\n    and o_orderdate < date '1995-03-15'\n    and l_shipdate > date '1995-03-15'\ngroup by\n    l_orderkey,\n    o_orderdate,\n    o_shippriority\norder by\n    revenue desc,\n    o_orderdate;\n", 'origin_cost': 1303479.5, 'rewritten_query': 'SELECT "lineitem"."l_orderkey", "orders"."o_orderdate", "orders"."o_shippriority", "lineitem"."l_extendedprice" * (1 - "lineitem"."l_discount") AS "$f3"\nFROM "customer",\n"orders",\n"lineitem"\nWHERE "customer"."c_mktsegment" = \'BUILDING\' AND "customer"."c_custkey" = "orders"."o_custkey" AND "lineitem"."l_orderkey" = "orders"."o_orderkey" AND "orders"."o_orderdate" < DATE \'1995-03-15\' AND "lineitem"."l_shipdate" > DATE \'1995-03-15\'', 'rewritten_cost': 1297731.06, 'rewrite_order': '[2, 1, 4]'}
==================================
planner configured
dialect configured
level 0
Best Child: SELECT "nation"."n_name", "lineitem"."l_extendedprice" * (1 - "lineitem"."l_discount") AS "$f1"
FROM "customer",
"orders",
"lineitem",
"supplier",
"nation",
"region"
WHERE "customer"."c_custkey" = "orders"."o_custkey" AND "lineitem"."l_orderkey" = "orders"."o_orderkey" AND ("lineitem"."l_suppkey" = "supplier"."s_suppkey" AND "customer"."c_nationkey" = "supplier"."s_nationkey") AND ("supplier"."s_nationkey" = "nation"."n_nationkey" AND "nation"."n_regionkey" = "region"."r_regionkey" AND ("region"."r_name" = 'ASIA' AND ("orders"."o_orderdate" >= DATE '1994-01-01' AND "orders"."o_orderdate" < (DATE '1994-01-01' + INTERVAL '1' YEAR)))) 0.03999999997904524 [2, 4]
--------------------------------
final sql:  SELECT "nation"."n_name", "lineitem"."l_extendedprice" * (1 - "lineitem"."l_discount") AS "$f1"
FROM "customer",
"orders",
"lineitem",
"supplier",
"nation",
"region"
WHERE "customer"."c_custkey" = "orders"."o_custkey" AND "lineitem"."l_orderkey" = "orders"."o_orderkey" AND ("lineitem"."l_suppkey" = "supplier"."s_suppkey" AND "customer"."c_nationkey" = "supplier"."s_nationkey") AND ("supplier"."s_nationkey" = "nation"."n_nationkey" AND "nation"."n_regionkey" = "region"."r_regionkey" AND ("region"."r_name" = 'ASIA' AND ("orders"."o_orderdate" >= DATE '1994-01-01' AND "orders"."o_orderdate" < (DATE '1994-01-01' + INTERVAL '1' YEAR))))
[2, 4]
after-rewrite cost: 443585.07
-------
==================================
mysql_05.sql
{'origin_query': "-- using default substitutions\n\n\nselect\n    n_name,\n    sum(l_extendedprice * (1 - l_discount)) as revenue\nfrom\n    customer,\n    orders,\n    lineitem,\n    supplier,\n    nation,\n    region\nwhere\n    c_custkey = o_custkey\n    and l_orderkey = o_orderkey\n    and l_suppkey = s_suppkey\n    and c_nationkey = s_nationkey\n    and s_nationkey = n_nationkey\n    and n_regionkey = r_regionkey\n    and r_name = 'ASIA'\n    and o_orderdate >= date '1994-01-01'\n    and o_orderdate < date '1994-01-01' + interval '1' year\ngroup by\n    n_name\norder by\n    revenue desc;\n", 'origin_cost': 443585.11, 'rewritten_query': 'SELECT "nation"."n_name", "lineitem"."l_extendedprice" * (1 - "lineitem"."l_discount") AS "$f1"\nFROM "customer",\n"orders",\n"lineitem",\n"supplier",\n"nation",\n"region"\nWHERE "customer"."c_custkey" = "orders"."o_custkey" AND "lineitem"."l_orderkey" = "orders"."o_orderkey" AND ("lineitem"."l_suppkey" = "supplier"."s_suppkey" AND "customer"."c_nationkey" = "supplier"."s_nationkey") AND ("supplier"."s_nationkey" = "nation"."n_nationkey" AND "nation"."n_regionkey" = "region"."r_regionkey" AND ("region"."r_name" = \'ASIA\' AND ("orders"."o_orderdate" >= DATE \'1994-01-01\' AND "orders"."o_orderdate" < (DATE \'1994-01-01\' + INTERVAL \'1\' YEAR))))', 'rewritten_cost': 443585.07, 'rewrite_order': '[2, 4]'}
==================================
planner configured
dialect configured
level 0
Best Child: -- using default substitutions


select
    sum(l_extendedprice * l_discount) as revenue
from
    lineitem
where
    l_shipdate >= date '1994-01-01'
    and l_shipdate < date '1994-01-01' + interval '1' year
    and l_discount between 0.06 - 0.01 and 0.06 + 0.01
    and l_quantity < 24;
 1109.1999999999534 []
--------------------------------
final sql:  -- using default substitutions


select
    sum(l_extendedprice * l_discount) as revenue
from
    lineitem
where
    l_shipdate >= date '1994-01-01'
    and l_shipdate < date '1994-01-01' + interval '1' year
    and l_discount between 0.06 - 0.01 and 0.06 + 0.01
    and l_quantity < 24;

[]
after-rewrite cost: 1061845.43
-------
==================================
mysql_06.sql
{'origin_query': "-- using default substitutions\n\n\nselect\n    sum(l_extendedprice * l_discount) as revenue\nfrom\n    lineitem\nwhere\n    l_shipdate >= date '1994-01-01'\n    and l_shipdate < date '1994-01-01' + interval '1' year\n    and l_discount between 0.06 - 0.01 and 0.06 + 0.01\n    and l_quantity < 24;\n", 'origin_cost': 1061845.43, 'rewritten_query': "-- using default substitutions\n\n\nselect\n    sum(l_extendedprice * l_discount) as revenue\nfrom\n    lineitem\nwhere\n    l_shipdate >= date '1994-01-01'\n    and l_shipdate < date '1994-01-01' + interval '1' year\n    and l_discount between 0.06 - 0.01 and 0.06 + 0.01\n    and l_quantity < 24;\n", 'rewritten_cost': 1061845.43, 'rewrite_order': '[]'}
==================================
planner configured
dialect configured
level 0
Best Child: SELECT *
FROM "supplier",
"lineitem",
"orders",
"customer",
"nation",
"nation" AS "nation0"
WHERE "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND "orders"."o_orderkey" = "lineitem"."l_orderkey" AND ("customer"."c_custkey" = "orders"."o_custkey" AND "supplier"."s_nationkey" = "nation"."n_nationkey") AND ("customer"."c_nationkey" = "nation0"."n_nationkey" AND ("nation"."n_name" = 'FRANCE' AND "nation0"."n_name" = 'GERMANY' OR "nation"."n_name" = 'GERMANY' AND "nation0"."n_name" = 'FRANCE') AND ("lineitem"."l_shipdate" >= DATE '1995-01-01' AND "lineitem"."l_shipdate" <= DATE '1996-12-31')) 0.05000000004656613 [2, 4, 1, 1, 1, 1, 1, 1]
--------------------------------
final sql:  SELECT *
FROM "supplier",
"lineitem",
"orders",
"customer",
"nation",
"nation" AS "nation0"
WHERE "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND "orders"."o_orderkey" = "lineitem"."l_orderkey" AND ("customer"."c_custkey" = "orders"."o_custkey" AND "supplier"."s_nationkey" = "nation"."n_nationkey") AND ("customer"."c_nationkey" = "nation0"."n_nationkey" AND ("nation"."n_name" = 'FRANCE' AND "nation0"."n_name" = 'GERMANY' OR "nation"."n_name" = 'GERMANY' AND "nation0"."n_name" = 'FRANCE') AND ("lineitem"."l_shipdate" >= DATE '1995-01-01' AND "lineitem"."l_shipdate" <= DATE '1996-12-31'))
[2, 4, 1, 1, 1, 1, 1, 1]
after-rewrite cost: 1234088.03
-------
==================================
mysql_07.sql
{'origin_query': "-- using default substitutions\n\n\nselect\n    supp_nation,\n    cust_nation,\n    l_year,\n    sum(volume) as revenue\nfrom\n    (\n        select\n            n1.n_name as supp_nation,\n            n2.n_name as cust_nation,\n            extract(year from l_shipdate) as l_year,\n            l_extendedprice * (1 - l_discount) as volume\n        from\n            supplier,\n            lineitem,\n            orders,\n            customer,\n            nation n1,\n            nation n2\n        where\n            s_suppkey = l_suppkey\n            and o_orderkey = l_orderkey\n            and c_custkey = o_custkey\n            and s_nationkey = n1.n_nationkey\n            and c_nationkey = n2.n_nationkey\n            and (\n                (n1.n_name = 'FRANCE' and n2.n_name = 'GERMANY')\n                or (n1.n_name = 'GERMANY' and n2.n_name = 'FRANCE')\n            )\n            and l_shipdate between date '1995-01-01' and date '1996-12-31'\n    ) as shipping\ngroup by\n    supp_nation,\n    cust_nation,\n    l_year\norder by\n    supp_nation,\n    cust_nation,\n    l_year;\n", 'origin_cost': 1234088.08, 'rewritten_query': 'SELECT *\nFROM "supplier",\n"lineitem",\n"orders",\n"customer",\n"nation",\n"nation" AS "nation0"\nWHERE "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND "orders"."o_orderkey" = "lineitem"."l_orderkey" AND ("customer"."c_custkey" = "orders"."o_custkey" AND "supplier"."s_nationkey" = "nation"."n_nationkey") AND ("customer"."c_nationkey" = "nation0"."n_nationkey" AND ("nation"."n_name" = \'FRANCE\' AND "nation0"."n_name" = \'GERMANY\' OR "nation"."n_name" = \'GERMANY\' AND "nation0"."n_name" = \'FRANCE\') AND ("lineitem"."l_shipdate" >= DATE \'1995-01-01\' AND "lineitem"."l_shipdate" <= DATE \'1996-12-31\'))', 'rewritten_cost': 1234088.03, 'rewrite_order': '[2, 4, 1, 1, 1, 1, 1, 1]'}
==================================
planner configured
dialect configured
level 0
Best Child: SELECT *
FROM "part",
"supplier",
"lineitem",
"orders",
"customer",
"nation",
"nation" AS "nation0",
"region"
WHERE "part"."p_partkey" = "lineitem"."l_partkey" AND "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND ("lineitem"."l_orderkey" = "orders"."o_orderkey" AND ("orders"."o_custkey" = "customer"."c_custkey" AND "customer"."c_nationkey" = "nation"."n_nationkey")) AND ("nation"."n_regionkey" = "region"."r_regionkey" AND ("region"."r_name" = 'AMERICA' AND "supplier"."s_nationkey" = "nation0"."n_nationkey") AND ("orders"."o_orderdate" >= DATE '1995-01-01' AND ("orders"."o_orderdate" <= DATE '1996-12-31' AND "part"."p_type" = 'ECONOMY ANODIZED STEEL'))) 0.060000000055879354 [2, 1, 4, 1, 1]
--------------------------------
final sql:  SELECT *
FROM "part",
"supplier",
"lineitem",
"orders",
"customer",
"nation",
"nation" AS "nation0",
"region"
WHERE "part"."p_partkey" = "lineitem"."l_partkey" AND "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND ("lineitem"."l_orderkey" = "orders"."o_orderkey" AND ("orders"."o_custkey" = "customer"."c_custkey" AND "customer"."c_nationkey" = "nation"."n_nationkey")) AND ("nation"."n_regionkey" = "region"."r_regionkey" AND ("region"."r_name" = 'AMERICA' AND "supplier"."s_nationkey" = "nation0"."n_nationkey") AND ("orders"."o_orderdate" >= DATE '1995-01-01' AND ("orders"."o_orderdate" <= DATE '1996-12-31' AND "part"."p_type" = 'ECONOMY ANODIZED STEEL')))
[2, 1, 4, 1, 1]
after-rewrite cost: 1234203.95
-------
==================================
mysql_08.sql
{'origin_query': "-- using default substitutions\n\n\nselect\n    o_year,\n    sum(case\n        when nation = 'BRAZIL' then volume\n        else 0\n    end) / sum(volume) as mkt_share\nfrom\n    (\n        select\n            extract(year from o_orderdate) as o_year,\n            l_extendedprice * (1 - l_discount) as volume,\n            n2.n_name as nation\n        from\n            part,\n            supplier,\n            lineitem,\n            orders,\n            customer,\n            nation n1,\n            nation n2,\n            region\n        where\n            p_partkey = l_partkey\n            and s_suppkey = l_suppkey\n            and l_orderkey = o_orderkey\n            and o_custkey = c_custkey\n            and c_nationkey = n1.n_nationkey\n            and n1.n_regionkey = r_regionkey\n            and r_name = 'AMERICA'\n            and s_nationkey = n2.n_nationkey\n            and o_orderdate between date '1995-01-01' and date '1996-12-31'\n            and p_type = 'ECONOMY ANODIZED STEEL'\n    ) as all_nations\ngroup by\n    o_year\norder by\n    o_year;\n", 'origin_cost': 1234204.01, 'rewritten_query': 'SELECT *\nFROM "part",\n"supplier",\n"lineitem",\n"orders",\n"customer",\n"nation",\n"nation" AS "nation0",\n"region"\nWHERE "part"."p_partkey" = "lineitem"."l_partkey" AND "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND ("lineitem"."l_orderkey" = "orders"."o_orderkey" AND ("orders"."o_custkey" = "customer"."c_custkey" AND "customer"."c_nationkey" = "nation"."n_nationkey")) AND ("nation"."n_regionkey" = "region"."r_regionkey" AND ("region"."r_name" = \'AMERICA\' AND "supplier"."s_nationkey" = "nation0"."n_nationkey") AND ("orders"."o_orderdate" >= DATE \'1995-01-01\' AND ("orders"."o_orderdate" <= DATE \'1996-12-31\' AND "part"."p_type" = \'ECONOMY ANODIZED STEEL\')))', 'rewritten_cost': 1234203.95, 'rewrite_order': '[2, 1, 4, 1, 1]'}
==================================
planner configured
dialect configured
level 0
Best Child: SELECT *
FROM "part",
"supplier",
"lineitem",
"partsupp",
"orders",
"nation"
WHERE "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND ("partsupp"."ps_suppkey" = "lineitem"."l_suppkey" AND "partsupp"."ps_partkey" = "lineitem"."l_partkey") AND ("part"."p_partkey" = "lineitem"."l_partkey" AND "orders"."o_orderkey" = "lineitem"."l_orderkey" AND ("supplier"."s_nationkey" = "nation"."n_nationkey" AND "part"."p_name" LIKE '%green%')) 0.9299999999348074 [2, 4, 1, 1, 1, 1, 1]
--------------------------------
final sql:  SELECT *
FROM "part",
"supplier",
"lineitem",
"partsupp",
"orders",
"nation"
WHERE "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND ("partsupp"."ps_suppkey" = "lineitem"."l_suppkey" AND "partsupp"."ps_partkey" = "lineitem"."l_partkey") AND ("part"."p_partkey" = "lineitem"."l_partkey" AND "orders"."o_orderkey" = "lineitem"."l_orderkey" AND ("supplier"."s_nationkey" = "nation"."n_nationkey" AND "part"."p_name" LIKE '%green%'))
[2, 4, 1, 1, 1, 1, 1]
after-rewrite cost: 1393168.81
-------
==================================
mysql_09.sql
{'origin_query': "-- using default substitutions\n\n\nselect\n    nation,\n    o_year,\n    sum(amount) as sum_profit\nfrom\n    (\n        select\n            n_name as nation,\n            extract(year from o_orderdate) as o_year,\n            l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount\n        from\n            part,\n            supplier,\n            lineitem,\n            partsupp,\n            orders,\n            nation\n        where\n            s_suppkey = l_suppkey\n            and ps_suppkey = l_suppkey\n            and ps_partkey = l_partkey\n            and p_partkey = l_partkey\n            and o_orderkey = l_orderkey\n            and s_nationkey = n_nationkey\n            and p_name like '%green%'\n    ) as profit\ngroup by\n    nation,\n    o_year\norder by\n    nation,\n    o_year desc;\n", 'origin_cost': 1393169.74, 'rewritten_query': 'SELECT *\nFROM "part",\n"supplier",\n"lineitem",\n"partsupp",\n"orders",\n"nation"\nWHERE "supplier"."s_suppkey" = "lineitem"."l_suppkey" AND ("partsupp"."ps_suppkey" = "lineitem"."l_suppkey" AND "partsupp"."ps_partkey" = "lineitem"."l_partkey") AND ("part"."p_partkey" = "lineitem"."l_partkey" AND "orders"."o_orderkey" = "lineitem"."l_orderkey" AND ("supplier"."s_nationkey" = "nation"."n_nationkey" AND "part"."p_name" LIKE \'%green%\'))', 'rewritten_cost': 1393168.81, 'rewrite_order': '[2, 4, 1, 1, 1, 1, 1]'}
==================================
planner configured
dialect configured
level 0
Best Child: SELECT *
FROM "customer",
"orders",
"lineitem",
"nation"
WHERE "customer"."c_custkey" = "orders"."o_custkey" AND ("lineitem"."l_orderkey" = "orders"."o_orderkey" AND "orders"."o_orderdate" >= DATE '1993-10-01') AND ("orders"."o_orderdate" < (DATE '1993-10-01' + INTERVAL '3' MONTH) AND ("lineitem"."l_returnflag" = 'R' AND "customer"."c_nationkey" = "nation"."n_nationkey")) 5.179999999934807 [2, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1]
--------------------------------
final sql:  SELECT *
FROM "customer",
"orders",
"lineitem",
"nation"
WHERE "customer"."c_custkey" = "orders"."o_custkey" AND ("lineitem"."l_orderkey" = "orders"."o_orderkey" AND "orders"."o_orderdate" >= DATE '1993-10-01') AND ("orders"."o_orderdate" < (DATE '1993-10-01' + INTERVAL '3' MONTH) AND ("lineitem"."l_returnflag" = 'R' AND "customer"."c_nationkey" = "nation"."n_nationkey"))
[2, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1]
after-rewrite cost: 1211809.28
-------
==================================
mysql_10.sql
{'origin_query': "-- using default substitutions\n\n\nselect\n    c_custkey,\n    c_name,\n    sum(l_extendedprice * (1 - l_discount)) as revenue,\n    c_acctbal,\n    n_name,\n    c_address,\n    c_phone,\n    c_comment\nfrom\n    customer,\n    orders,\n    lineitem,\n    nation\nwhere\n    c_custkey = o_custkey\n    and l_orderkey = o_orderkey\n    and o_orderdate >= date '1993-10-01'\n    and o_orderdate < date '1993-10-01' + interval '3' month\n    and l_returnflag = 'R'\n    and c_nationkey = n_nationkey\ngroup by\n    c_custkey,\n    c_name,\n    c_acctbal,\n    c_phone,\n    n_name,\n    c_address,\n    c_comment\norder by\n    revenue desc;\n", 'origin_cost': 1211814.46, 'rewritten_query': 'SELECT *\nFROM "customer",\n"orders",\n"lineitem",\n"nation"\nWHERE "customer"."c_custkey" = "orders"."o_custkey" AND ("lineitem"."l_orderkey" = "orders"."o_orderkey" AND "orders"."o_orderdate" >= DATE \'1993-10-01\') AND ("orders"."o_orderdate" < (DATE \'1993-10-01\' + INTERVAL \'3\' MONTH) AND ("lineitem"."l_returnflag" = \'R\' AND "customer"."c_nationkey" = "nation"."n_nationkey"))', 'rewritten_cost': 1211809.28, 'rewrite_order': '[2, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1]'}
==================================
planner configured
dialect configured
level 0
Best Child: -- using default substitutions


select
    l_shipmode,
    sum(case
        when o_orderpriority = '1-URGENT'
            or o_orderpriority = '2-HIGH'
            then 1
        else 0
    end) as high_line_count,
    sum(case
        when o_orderpriority <> '1-URGENT'
            and o_orderpriority <> '2-HIGH'
            then 1
        else 0
    end) as low_line_count
from
    orders,
    lineitem
where
    o_orderkey = l_orderkey
    and l_shipmode in ('MAIL', 'SHIP')
    and l_commitdate < l_receiptdate
    and l_shipdate < l_commitdate
    and l_receiptdate >= date '1994-01-01'
    and l_receiptdate < date '1994-01-01' + interval '1' year
group by
    l_shipmode
order by
    l_shipmode;
 0.0 []
--------------------------------
final sql:  -- using default substitutions


select
    l_shipmode,
    sum(case
        when o_orderpriority = '1-URGENT'
            or o_orderpriority = '2-HIGH'
            then 1
        else 0
    end) as high_line_count,
    sum(case
        when o_orderpriority <> '1-URGENT'
            and o_orderpriority <> '2-HIGH'
            then 1
        else 0
    end) as low_line_count
from
    orders,
    lineitem
where
    o_orderkey = l_orderkey
    and l_shipmode in ('MAIL', 'SHIP')
    and l_commitdate < l_receiptdate
    and l_shipdate < l_commitdate
    and l_receiptdate >= date '1994-01-01'
    and l_receiptdate < date '1994-01-01' + interval '1' year
group by
    l_shipmode
order by
    l_shipmode;

[]
after-rewrite cost: 1387022.34
-------
==================================
mysql_12.sql

In [4]:
# query rewrite (rewritten query, cost, rewrite rules)
query = "--sql \'select * from customer;\'"
%run 'main.py' $query
# read the rewritten query from log

select * from customer;
select * from customer;
origin cost: 13168.62
planner configured
dialect configured
level 0
Best Child: SELECT *
FROM "customer" 0.0
--------------------------------
SELECT *
FROM "customer"
after-rewrite cost: 13168.62

In [35]:
# convert into JSON:
rewrite_set = json.dumps(rewrite_set)

# the result is a JSON string:
print((rewrite_set))
with open(ppath.joinpath('test_query.log'),'w') as f:
    f.write(rewrite_set)

{"0": {"origin_query": "select  \n  sample_0.ps_supplycost as c0, \n  sample_0.ps_availqty as c1, \n  case when EXISTS (\n      select  \n          subq_0.c0 as c0, \n          sample_0.ps_availqty as c1, \n          sample_1.l_returnflag as c2, \n          subq_0.c0 as c3, \n          sample_1.l_commitdate as c4, \n          85 as c5, \n          sample_0.ps_suppkey as c6\n        from \n          public.lineitem as sample_1 tablesample system (1.3) ,\n          lateral (select  \n                sample_0.ps_null as c0\n              from \n                public.nation as ref_0\n              where (cast(null as circle) && cast(null as circle)) \n                and (cast(null as aclitem) = cast(null as aclitem))\n              limit 113) as subq_0\n        where EXISTS (\n          select  \n              sample_0.ps_partkey as c0, \n              subq_0.c0 as c1, \n              sample_1.l_null as c2, \n              subq_0.c0 as c3, \n              subq_0.c0 as c4\n            from \n              public.region as sample_2 tablesample system (2) \n            where cast(null as circle) ~= cast(null as circle)\n            limit 172)\n        limit 61) then sample_0.ps_suppkey else sample_0.ps_suppkey end\n     as c2, \n  case when EXISTS (\n      select  \n          sample_3.s_null as c0, \n          (select o_comment from public.orders limit 1 offset 4)\n             as c1\n        from \n          public.supplier as sample_3 tablesample system (0.8) \n        where cast(coalesce(cast(null as tinterval),\n            cast(null as tinterval)) as tinterval) = pg_catalog.mktinterval(\n            cast(cast(null as abstime) as abstime),\n            cast(cast(null as abstime) as abstime))\n        limit 92) then sample_0.ps_supplycost else sample_0.ps_supplycost end\n     as c3\nfrom \n  public.partsupp as sample_0 tablesample bernoulli (3.5) \nwhere (sample_0.ps_supplycost is not NULL) \n  and (cast(coalesce(cast(coalesce((select l_shipdate from public.lineitem limit 1 offset 56)\n          ,\n        cast(null as date)) as date),\n      case when pg_catalog.pg_my_temp_schema() >= cast(coalesce(cast(null as oid),\n            cast(null as oid)) as oid) then pg_catalog.make_date(\n          cast(sample_0.ps_availqty as int4),\n          cast(sample_0.ps_suppkey as int4),\n          cast((select s_suppkey from public.supplier limit 1 offset 4)\n             as int4)) else pg_catalog.make_date(\n          cast(sample_0.ps_availqty as int4),\n          cast(sample_0.ps_suppkey as int4),\n          cast((select s_suppkey from public.supplier limit 1 offset 4)\n             as int4)) end\n        ) as date) > (select pg_catalog.max(l_shipdate) from public.lineitem)\n      )\nlimit 77;\n", "rewritten_query": "", "rewrite_order": []}}

In [10]:
rewrite_set.append({"12":123})

AttributeError: 'str' object has no attribute 'append'

In [18]:
rewrite_set = {
"0":{  "origin": "",
  "rewritten": "",
  "rewrites": []}
}

rewrite_set.update({"2":{  "origin": "",
  "rewritten": "",
  "rewrites": []}
})
print(rewrite_set)

{'0': {'origin': '', 'rewritten': '', 'rewrites': []}, '2': {'origin': '', 'rewritten': '', 'rewrites': []}}

In [5]:
b = 'asdf'
a = "hello come here {}".format(b)
print(a)

hello come here asdf

In [22]:
a = [1,2]
b = a + [123]
print(str(a))

[1, 2]

In [31]:
a = ['sdf']
b =a[-1]
c =a[:-1]
print(b,c)

sdf []